.forecast-list-card {
  @apply flex flex-col items-center;

  .degress-block {
    @apply flex gap-x-10;
    @apply mt-2;

    &__item {
      @apply flex flex-col;

      .degrees {
        @apply text-gray-700;

        .temp-units {
          font-size: 0.5em;
          right: 1px;
          bottom: 2px;
        }
      }

      &-title {
        @apply font-bold;
      }
    }
  }
}
